<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snake后台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/app/appstatic.css" rel="stylesheet">
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/app/appstatic.js"></script>
</head>

<body>
<div class="static-box">
    <h2>静态分析</h2>
    <div class="content static-top-step">
        <span>功能选择</span>
        <span>app上传</span>
        <span>app检测</span>
        <div class="cb"></div>
    </div>
    <div class="content static-choice">
        <div class="content-left fl">
            <span>应用类型：</span>
        </div>
        <div class="content-right fr">
            <span>
                <input name="staticRadio" value="1" type="radio" placeholder="">&nbsp;&nbsp;游戏类
            </span>
            <span>
                <input name="staticRadio" value="2" type="radio" placeholder="">&nbsp;&nbsp;金融类
            </span>
            <span>
                <input name="staticRadio" value="3" type="radio" placeholder="">&nbsp;&nbsp;其他类
            </span>
        </div>
        <!-------------------------->
        <div class="content-left fl">
            <span>选择标准功能：</span>
        </div>
        <div class="content-right fr">
            <span>
                <input name="staticCheck" value="1" type="checkbox" placeholder="">&nbsp;&nbsp;移动应用基本信息检测
            </span>
            <span>
                <input name="staticCheck" value="2" type="checkbox" placeholder="">&nbsp;&nbsp;移动应用恶意行为检测
            </span>
            <span>
                <input name="staticCheck" value="3" type="checkbox" placeholder="">&nbsp;&nbsp;移动应用安全规范检测
            </span>
            <!---->
        </div>
        <div class="cb"></div>
        <br>
        <div class="secend" style="text-align: center;">
            <!--<button>上一步</button>-->
            <button onclick="Nextstep(2)">下一步</button>
        </div>
    </div>
    <div class="content static-appUpload"></div>
    <div class="content static-result">
        <span class="position"></span>
        <span class="position1"></span>
        <span class="position2">静态</span>
        <div class="left">
            <div class="logo">
                <img src="/static/admin/images/123.jpg" alt="">
            </div>
            应用名称：火柴人 <br>
            版本号：1.1 <br>
            提交时间：2018-5-21 <br>
            <!--md5：9068f0b57b9a2a9b7f25e00b8c112497 <br>-->
        </div>
        <div class="right">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>功能类型</th>
                    <th>安全性</th>
                    <th>预计时间</th>
                    <th>结果状态</th>
                </tr>
                <tr>
                    <td>移动应用基本信息检测</td>
                    <td>安全</td>
                    <td>3-5分钟</td>
                    <td>
                        <a style="color:#509bee;">查看详情</a>&nbsp;&nbsp;
                        <!--<a style="color:#e9791a">下载报告</a>-->
                    </td>
                </tr>
                <tr>
                    <td>移动应用恶意行为检测</td>
                    <td>---</td>
                    <td>已完成</td>
                    <td>
                        <a style="color:#509bee;">查看详情</a>&nbsp;&nbsp;
                        <!--<a style="color:#e9791a">下载报告</a>-->
                    </td>
                </tr>
                <tr>
                    <td>移动应用安全规范检测</td>
                    <td>---</td>
                    <td>已完成</td>
                    <td>
                        <a style="color:#509bee;">查看详情</a>&nbsp;&nbsp;
                        <!--<a style="color:#e9791a">下载报告</a>-->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--<a style="color:#509bee;">查看详情</a>&nbsp;&nbsp;-->
                        <a style="color:#e9791a">下载报告</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cb"></div>
    </div>

</div>
</body>
</html>
