.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
body::-webkit-scrollbar {display: none;}
.head-title{text-align: center;}
.email{width: 90%;margin-left: 5%;}
.email>.email-sendOne{width: 100%;}
.email-sendTwo{display: none;}
.email>.email-sendOne>span{background: #18a689;color: #ffffff;height: 30px;line-height: 30px;font-size: 18px;padding:3px 10px;margin-bottom: 20px;}
.email>.email-sendOne>p{height: 35px;}
.email>.email-sendOne>.Enclosure{display: none;margin-bottom: 15px;}
.email>.email-sendOne>p>span{font-size: 16px;height: 100%;display: inline-block;width: 80px;text-align: right;line-height: 35px;}
.email>.email-sendOne>p>input{height: 100%;font-size: 16px;width: 260px;display: inline-block;}
.email>.email-sendOne>p>input[type='radio']{height: auto;font-size: 16px;width: auto;display: inline-block;}
.email>.email-sendOne>p>b{display: inline-block;height: 100%;}
.email>.email-sendOne>p>button{height: 100%;font-size: 16px;background: #18a689;color:#ffffff;border:none;border-radius: 3px;}
.email>.email-sendTwo{width: 100%;}
.email>.email-sendTwo>p{height: 35px;}
.email>.email-sendTwo>p>span{font-size: 16px;height: 100%;display: inline-block;width: 80px;text-align: right;}
.email>.email-sendTwo>p>input{height: 100%;font-size: 16px;width: 260px;display: inline-block;}
.email>.email-sendTwo>p>button{height: 100%;font-size: 16px;background: #18a689;color:#ffffff;border:none;border-radius: 3px;}
.email-table{width: 100%;border: 1px solid #bfbfbf;margin: 15px 0;border-collapse:collapse; font-size: 16px;}
.email-table tbody{width: 100%;}
.email-table tbody tr td{border: 1px solid #bfbfbf;padding:10px;text-align: center;}
.email-table tbody tr th{border: 1px solid #bfbfbf; text-align: center;padding:10px;}
.email>.email-method{height: 30px;line-height: 30px;}
.email>.email-method>button{border:1px solid #18a689;color: #000000;display: inline-block;width: auto;height: 50px;line-height: 50px;font-size: 22px;padding:0 10px;float: left;margin-left: -1px;background: none;}
.email>.email-method>button:nth-child(1){border:1px solid #18a689; background: #18a689;color: #ffffff;}
.tableBox{position: fixed;top:0;bottom:0;left:0;right:0;display: none;background:rgba(255, 255, 255,0.4 );z-index: 99999;}
.tableBox>.tableBox-content{width: 70%;height:70%;margin: 8% 15%;border:1px solid #18a689;background:rgba(255, 255, 255, 1);border-radius: 5px;overflow: auto;}
.tableBox>.tableBox-content>p{width: 90%;margin-left: 5%;}
.tableBox>.tableBox-content>p>button{background: #18a689;color:#ffffff;border:none;border-radius: 3px;padding:4px 10px;}
.tableBox>.tableBox-content>p>span{margin-top: 10px;display: inline-block;float: left;font-size: 16px;}
.closeTableBox{height: 30px;font-size: 25px;background: none;border:none;color:red;position: fixed;top:19%;right: 15%;}
.tableBox::-webkit-scrollbar {display: none;}
.tableBox>.tableBox-content::-webkit-scrollbar {display: none;}
.message-table-2{width: 90%;border: 1px solid #bfbfbf;margin: 15px 0;border-collapse:collapse; font-size: 16px;margin-left: 5%;}
.message-table-2 tbody{width: 100%;}
.message-table-2 tbody tr{border: 1px solid #bfbfbf;}
.message-table-2 tbody tr td{padding:2px 10px;text-align: left;}
.message-table-2 tbody tr th{ text-align: left;padding:2px 10px;border: 1px solid #9e9c9d;background: #c7c7c7;}
.UpButton{display: none;}


.UseExplain{position: fixed;top:0;left:0;right: 0;bottom: 0;background:rgba(255, 255, 255,1 );display: none;z-index: 99999;overflow: auto;}
.UseExplain>.UseExplain-content{width: 70%;margin-left: 15%;background:rgba(255, 255, 255,1 );overflow: auto;}
.UseExplain>.UseExplain-content::-webkit-scrollbar {display: none;}
.UseExplain::-webkit-scrollbar{display: none;}
.UseExplain>.UseExplain-content img{max-width:96%;}
.CloseExplain{position:fixed;top:0;right: 0;display: none;z-index: 9999999999;}
.CloseExplain>button{border:1px solid #18a689; background: #18a689;color: #ffffff;border-radius: 3px;margin: 5px;}



